html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(13,13,13);
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
canvas {
  display: block;
}

#canvas_container {
  position: absolute;
  left: 50%;
  top:10%;

}

#text_container {
  position: relative;
  width:500px;
  left: 50%;
  margin-left: -250px;
  color: rgb(220,220,220);
}
a {
  color: rgb(154,25,0);
}